<%= form_with model: [ @bike, @bike.comments.build ] do |form| %>
  <p>
    <%= form.label :body %><br>
    <%= form.text_field :body %>
  </p>

  </p>
  
  <p>
    <%= form.submit %>
  </p>
<% end %>