<h1>Auto List</h1>
<ul>
	<% @autos.each do |t| %>
		<li>
		  <%= link_to t.name ,t %>
		</li>
	<% end %>
</ul>

<%= link_to "Add New Auto",new_auto_path %>

<br>
<br>

<%= link_to "Back to Home Page",root_path %>